# Laboratório: Aprender a ler dados RAW com PySpark

## 1. Instale as bibliotecas necessárias (se ainda não instalou)

In [33]:
!pip install minio pandas pyarrow pyspark

Requirement already satisfied: minio in /opt/conda/lib/python3.11/site-packages (7.2.20)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.11/site-packages (17.0.0)
Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.3)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.11/site-packages (from minio) (23.1.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.11/site-packages (from minio) (2024.8.30)
Requirement already satisfied: pycryptodome in /opt/conda/lib/python3.11/site-packages (from minio) (3.23.0)
Requirement already satisfied: typing-extensions in /opt/conda/lib/python3.11/site-packages (from minio) (4.12.2)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.11/site-packages (from minio) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: argon2-cffi-bindings in /opt/conda/lib/python3.11/site-packages (from argon2-cffi->minio) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from argon2-cffi-bindings->argon2-cffi->minio) (1.17.1)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.11/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->minio) (2.22)

## 2. Importe as bibliotecas

In [34]:
from minio import Minio
import pandas as pd
import io

## 3. Configure as credenciais e endpoint do MinIO

In [35]:
minio_client = Minio(
    "minio:9000",
    access_key="4PRJYFLGzQYTnOJGH1gA",
    secret_key="ovBkCsqh2cXNkyoteCzQMV5JWCUk5tHfsG1GwYbD",
    secure=False
)

## 4. Liste os arquivos Parquet do bucket 'raw'

In [36]:
bucket_name = "raw"
objects = minio_client.list_objects(bucket_name, recursive=True)
parquet_files = [obj.object_name for obj in objects if obj.object_name.endswith('.parquet')]
print(parquet_files)

['pagila_db/actor/8df99fb5-32b3-4800-bfb9-4cfa3f8b4fda.parquet', 'pagila_db/address/932f688c-5408-453a-80c6-61aa804f6abf.parquet', 'pagila_db/category/3019a7cf-e341-49ee-ae12-3c278426510d.parquet', 'pagila_db/city/a4e3ecb0-f07f-45ce-a16d-c659c52b5a64.parquet', 'pagila_db/country/63fa4566-0a27-471b-bac8-61a940af9f8b.parquet', 'pagila_db/customer/28565d89-76bd-4a53-ae9b-231d560b5116.parquet', 'pagila_db/customer/39c56906-4493-46ed-9c35-1415884238f8.parquet', 'pagila_db/film/fb46c459-1406-4854-b9df-d33de2104e79.parquet', 'pagila_db/film_actor/216c0c45-642c-4cb9-857f-0e60858dc4d3.parquet', 'pagila_db/film_category/9f084f37-ccef-41d3-b96e-21405fa3d068.parquet', 'pagila_db/inventory/cb32266e-6d3b-449d-9ce2-c55ba620d152.parquet', 'pagila_db/language/1b338e3d-e807-4a60-9567-dcf55f00eb64.parquet', 'pagila_db/payment_p2022_01/4357d028-19ec-4edb-92ad-4aac752a4ac9.parquet', 'pagila_db/payment_p2022_02/c004ff14-5b22-4126-81e1-62df88f43478.parquet', 'pagila_db/payment_p2022_03/6acac114-e3f4-430f-8aae-74cb64ab8ac1.parquet', 'pagila_db/payment_p2022_04/7b342441-7fc6-4bdd-8bd6-25ea5cfae56a.parquet', 'pagila_db/payment_p2022_05/0df764ab-a9c9-41ce-9330-8716a086b1a9.parquet', 'pagila_db/payment_p2022_06/37df67bc-c3dc-4a80-87a7-b2cff9f338a3.parquet', 'pagila_db/payment_p2022_07/735745ca-78f6-49df-bbbb-dda6f01e3bee.parquet', 'pagila_db/rental/89ab185d-3cbc-40e2-bc50-6de09f821752.parquet', 'pagila_db/staff/0f71db19-2319-4a88-9122-c993e5540201.parquet', 'pagila_db/store/21df51be-2c7d-4977-9684-84a4bb42a24e.parquet']

In [37]:
# Para cada arquivo Parquet (tabela), leia os dados em um DataFrame

tables = {}
for file in parquet_files:
    response = minio_client.get_object(bucket_name, file)
    data = response.read()
    df = pd.read_parquet(io.BytesIO(data))
    #df.drop_duplicates(inplace=True)  # Remove duplicatas
    #df.dropna(inplace=True)  # Remove linhas com valores ausentes
    table_name = file.split('/')[-2]
    tables[table_name] = df
    response.close()
    response.release_conn()

# Agora, 'tabelas' é um dicionário onde a chave é o nome da tabela e o valor é o DataFrame correspondente
tables['film']

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,last_update,special_features,fulltext
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,2022-09-10 16:46:03.905795,"b'{""Deleted Scenes"",""Behind the Scenes""}'",'academi':1 'battl':15 'canadian':20 'dinosaur...
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,2022-09-10 16:46:03.905795,"b'{Trailers,""Deleted Scenes""}'",'ace':1 'administr':9 'ancient':19 'astound':4...
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,2022-09-10 16:46:03.905795,"b'{Trailers,""Deleted Scenes""}'",'adapt':1 'astound':4 'baloon':19 'car':11 'fa...
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,2022-09-10 16:46:03.905795,"b'{Commentaries,""Behind the Scenes""}'",'affair':1 'chase':14 'documentari':5 'fanci':...
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,2022-09-10 16:46:03.905795,"b'{""Deleted Scenes""}'",'african':1 'chef':11 'dentist':14 'documentar...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,NaN,6,0.99,183,9.99,G,2022-09-10 16:46:03.905795,"b'{Trailers,""Behind the Scenes""}'",'administr':12 'boat':8 'boy':17 'databas':11 ...
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,NaN,4,0.99,179,14.99,NC-17,2022-09-10 16:46:03.905795,"b'{Trailers,""Behind the Scenes""}'",'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,NaN,6,0.99,105,10.99,NC-17,2022-09-10 16:46:03.905795,"b'{""Deleted Scenes""}'",'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,NaN,5,2.99,101,28.99,R,2022-09-10 16:46:03.905795,"b'{Trailers,""Deleted Scenes""}'",'ancient':19 'boat':11 'china':20 'discov':14 ...
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,NaN,3,4.99,50,18.99,NC-17,2022-09-10 16:46:03.905795,"b'{Trailers,Commentaries,""Behind the Scenes""}'","'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona..."

## 5. Criando um Warehouse no LakeKeeper

In [38]:
import requests

# Definindo a URL base da API do Lakekeeper
CATALOG_URL = "http://lakekeeper:8181/catalog"
MANAGEMENT_URL = "http://lakekeeper:8181/management"
WAREHOUSE = "trusted"

response = requests.post(
    f"{MANAGEMENT_URL}/v1/warehouse",
    json={
        "warehouse-name": WAREHOUSE,
        "storage-profile": {
            "type": "s3",
            "bucket": "trusted",
            "flavor": "minio",
            "key-prefix": None,
            "assume-role-arn": None,
            "endpoint": "http://minio:9000",
            "region": "local-01",
            "path-style-access": True,
            "sts-enabled": False
        },
        "storage-credential": {
            "type": "s3",
            "credential-type": "access-key",
            "aws-access-key-id": "4PRJYFLGzQYTnOJGH1gA",
            "aws-secret-access-key": "ovBkCsqh2cXNkyoteCzQMV5JWCUk5tHfsG1GwYbD"
        }
    }
)
print(f"{response.status_code}: {response.reason}")

400: Bad Request

## 6. Criando uma tabela com PySpark e Lakekeeper

In [42]:
import pyspark
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession
import pandas as pd

SPARK_VERSION = pyspark.__version__
SPARK_MINOR_VERSION = '.'.join(SPARK_VERSION.split('.')[:2])
ICEBERG_VERSION = "1.7.0"
CATALOG = "trusted"

config = {
    "spark.sql.defaultCatalog": "trusted",
    f"spark.sql.catalog.{CATALOG}": "org.apache.iceberg.spark.SparkCatalog",
    f"spark.sql.catalog.{CATALOG}.type": "rest",
    f"spark.sql.catalog.{CATALOG}.uri": CATALOG_URL,
    f"spark.sql.catalog.{CATALOG}.warehouse": WAREHOUSE,
    "spark.sql.extensions": "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions",
    "spark.jars.packages": f"""org.apache.iceberg:iceberg-spark-runtime-{SPARK_MINOR_VERSION}_2.12:{ICEBERG_VERSION},org.apache.iceberg:iceberg-aws-bundle:{ICEBERG_VERSION}"""
}

print(config)
spark_config = SparkConf().setMaster('local').setAppName("Iceberg-REST")
for k, v in config.items():
    spark_config = spark_config.set(k, v)

spark = SparkSession.builder.config(conf=spark_config).getOrCreate()

spark.sql(f"USE {CATALOG}")

{'spark.sql.defaultCatalog': 'trusted', 'spark.sql.catalog.{CATALOG}': 'org.apache.iceberg.spark.SparkCatalog', 'spark.sql.catalog.{CATALOG}.type': 'rest', 'spark.sql.catalog.{CATALOG}.uri': 'http://lakekeeper:8181/catalog', 'spark.sql.catalog.{CATALOG}.warehouse': 'trusted', 'spark.sql.extensions': 'org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions', 'spark.jars.packages': 'org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.7.0,org.apache.iceberg:iceberg-aws-bundle:1.7.0'}

DataFrame[]

In [40]:
spark.sql(f"CREATE NAMESPACE IF NOT EXISTS pagila_db")
spark.sql("SHOW NAMESPACES").toPandas()

   namespace
0  pagila_db

## Agrupando as partições de pagamento

In [ ]:
# Cria uma lista chamada payment_dfs para armazenar os DataFrames relacionados a pagamentos
payment_dfs = []

# Percorre todas as tabelas carregadas
for nome_tabela, df in tables.items():
    # Se o nome da tabela contém a palavra 'payment', adiciona o DataFrame à lista
    if 'payment' in nome_tabela:
        payment_dfs.append(df)

# Se houver algum DataFrame relacionado a 'payment', concatena todos em um único DataFrame
# Cria um DataFrame Spark a partir do DataFrame concatenado e escreve na tabela 'pagila_db.payments'
if payment_dfs:
    payments_df = pd.concat(payment_dfs, ignore_index=True)
    sdf = spark.createDataFrame(payments_df)
    sdf.writeTo("pagila_db.payments").createOrReplace()

## Criando as demais tabelas

In [ ]:
# Escreve as demais tabelas normalmente
for table_name, df in tables.items():
    if 'payment' in table_name:
        continue  # já processado acima
    if not df.empty:
        sdf = spark.createDataFrame(df)
        sdf.writeTo(f"pagila_db.{table_name}").createOrReplace()
    else:
        print(f"Skipping empty DataFrame for table: {table_name}")